				body{
					background-color: #1c1b1b;
					}
				.div{
					margin-left: 20%;
					margin-right: 20%;
					margin-top: 10%;
				}
				#text-1{
					width: 50%;
					height: 20px;
					border-radius: 5px;
					text-align: center;
					outline: none;
					border: 3px solid #d1ff3a;
					box-shadow: 0 0 50px #d1ff3a;
					background-color: white;
					font-weight: bold;
					resize: none;
				}
				#text-2	{
					width: 44%;
					height: 20px;
					border-radius: 5px;
					text-align: center;
					outline: none;
					border: 3px solid #d1ff3a;
					box-shadow: 0 0 50px #d1ff3a;
					background-color: white;
					color: #ffa500;
					font-weight: bold;
					resize: none;
					display: block;
				}
				#select{
					height: 33px;
					border-radius: 7px;
					background-color: white;
					outline: none;	
					box-shadow: 0 0 20px #d1ff3a;
					border: 3px solid #d1ff3a;
					cursor: pointer;
					font-weight: bold;
				}
				#select:hover{
					box-shadow: 0 0 20px #c7f400;
				}
				#select:active{
					color: white;
				}
				.span-1{
					font-weight: bold;
					font-size: 25px;
					color: #20e1e8;
				}
				.span-2{
					font-size: 20px;
					font-weight: bold;
					color: white;
				}
				.button-1{
					height: 33px;
					border-radius: 7px;
					color: black;
					background-color: #d1ff3a;
					outline: none;
					box-shadow: 0 0 20px #d1ff3a;
					border: 1px solid #d1ff3a;
					cursor: pointer;
					font-weight: bold;
					margin-left: 89%;
				}
				.button-1:active{
					background-color: #d1ff3a;
					color: white;
				}
				#button-2:active{
					background-color: #0700ed;
					color: white;
				}
				#button-2{
					height: 33px;
					border-radius: 7px;
					background-color: #d1ff3a;
					outline: none;
					box-shadow: 0 0 20px #d1ff3a;
					border: 1px solid #d1ff3a;
					cursor: pointer;
					font-weight: bold;
				}
				#button-3:active{
					background-color: #0700ed;
					color: white;
				}
				#button-3{
					height: 33px;
					border-radius: 7px;
					background-color: #d1ff3a;
					outline: none;
					margin-top: 1%;
					box-shadow: 0 0 20px #d1ff3a;
					border: 1px solid #d1ff3a;
					cursor: pointer;
					font-weight: bold;
				}
				#date{
					height: 33px;
					width: 10%;
					border-radius: 7px;
					background-color: white;
					outline: none;
					box-shadow: 0 0 20px #d1ff3a;
					border: 3px solid #d1ff3a;
					font-weight: bold;
					margin-top: 3%;
					resize: none;
					font-size: 28px;
				}
				#div1{
					margin-left: 30%;
					margin-bottom: 10%;
				}
				#div2{
					margin-left: 20%;
					margin-right: 20%;
					margin-bottom: 10%;
				}
				#div1 h1{
					color: #20e1e8;
				}
				#button-4:active{
					background-color: #0700ed;
					color: white;
				}
				#button-4{
					height: 33px;
					border-radius: 7px;
					background-color: #d1ff3a;
					outline: none;
					box-shadow: 0 0 20px #d1ff3a;
					border: 1px solid #d1ff3a;
					cursor: pointer;
					font-weight: bold;
					margin-left: 89%;
					margin-top: 1%;
				}
				.button-1:hover{
					box-shadow: 0 0 20px #c7f400;
				}
				#button-4:hover{
					box-shadow: 0 0 20px #c7f400;
				}
				#button-3:hover{
					box-shadow: 0 0 20px #c7f400;
				}
				#button-2:hover{
					box-shadow: 0 0 20px #c7f400;
				}
